/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-image: url("../images/image_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background-color: #3a405a;
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}


/* Main Content */
#main-content {
  margin: 3% 0 0 0;
  padding: 0;
  flex: 1 0 auto;
  transition: margin-left 0.3s;
}


/* Navbar */
.navbar {
  background-color: #fff;
  color: #3a405a;
  border-color: #3a405a;
}

/* Navbar links */
.navbar a {
  color: #3a405a;
}

/* Navbar links on hover */
.navbar a:hover {
  color: #3a405a;
}

/* Offcanvas */
#staticBackdrop {
  background-color: #fff;
  color: #3a405a;
  width: auto;
  opacity: 0.9;
}

/* Offcanvas links */
.offcanvas-body ul li {
  margin-bottom: 10%;
}

.offcanvas-body ul li strong {
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.offcanvas-body ul li a {
  padding: 4px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

/* Smooth transition for hover and active changes */
#active-nav-1.active,
#active-nav-2.active,
#active-nav-3.active,
#active-nav-4.active,
#active-nav-5.active {
  background-color: #3a405a;
  color: #fff;
}


.nav-link {
  transition: background-color 0.3s ease;
}

/* Active class */
.nav-link.active:hover {
  background-color: #fff;
  color: #3a405a;
}

/* Offcanvas links on hover */
.offcanvas-body ul li a:hover {
  background-color: #3a405a;
  color: #fff;
}

/* Buttons */
.btn {
  background-color: #3a405a;
  color: #fff;
  border-color: #fff;
  font-size: 1rem;
}

/* Buttons on hover */
.btn:hover {
  background-color: #fff;
  color: #3a405a;
}

.btn-close-white {
  filter: none !important;
  /* Remove any existing filters */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%233a405a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586l6.293-6.293a1 1 0 0 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg>');
  width: 16px;
  height: 16px;
}

/* Logo */
.logo {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

/* Landing Section */
#landing-section {
  background-image: url("../images/image_9.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 68vh;
  padding-top: 1%
}

/* Landing Section Content */
#landing-section h1 {
  font-size: 2.6rem;
  font-weight: bold;
  color: #fff;
}

#landing-section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

#landing-section p {
  font-size: 1rem;
  color: #fff;
}

/* Landing Section Button */
#landing-section .btn {
  background-color: #fff;
  color: #3a405a;
  border-color: #fff;
  width: 150px;
  transition: ease-in-out 0.3s;
}

/* Landing Section Button on hover */
#landing-section .btn:hover {
  background-color: #3a405a;
  color: #fff;
}

/* Features Section */
#features h2 {
  font-weight: bold;
  color: #3a405a;
}

#features h4 {
  color: #3a405a;
}

/* Features Section horizontal rule */
#features hr {
  border: 1px solid #3a405a;
}

/* Features Section icons */
#features .fa-circle {
  color: #3a405a;
}

#features_2 .fa-stack-1x {
  color: #3a405a;
}

/* Features Section background images */
#features_2 {
  background-image: url("../images/image_9.jpg");
  background-position: left bottom;
}

/* Profile Section */
.dash-content {
  background-color: #fff;
  color: #3a405a;
  border-radius: 10px;
  margin: 1.4% 0 0 1.4%;
  width: fit-content;
  overflow: hidden;
  height: 60px;
  text-align: center;
}

.dash-end {
  margin: 6% 5% 0 0;
  display: flex;
  justify-content: end;
}

/* Profile Section Greeting Panel Animation */
.scrolling-greeting {
  white-space: nowrap;
  display: block;
  will-change: transform;
}

/* Header Container */
.head-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header*/
h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* Carousel */
.carousel img {
  height: 60vh;
  margin-top: 0.5%;
}

/* Section Container */
#section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Section */
.section_1 {
  background-color: #fff;
  border-radius: 10px;
  margin: 1%;
  width: 40%;
  height: 480px;
  color: #3a405a;
  padding: 0 6%;
}

/* Section 2 */
.panel_2 {
  background-color: #fff;
  border-radius: 10px;
  margin: 1%;
  color: #3a405a;
  height: 480px;
  font-size: 1.4rem;
}

/* Card Container */
#card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Card items */
.card {
  background-color: #fff;
  color: #3a405a;
  border-radius: 10px;
  width: auto;
}

.card-body {
  background-color: #3a405a;
  color: #fff;
}

.card-body-bottom .btn {
  background-color: #3a405a;
  color: #fff;
  margin-bottom: 4px;
}

.card-body-bottom .btn:hover {
  background-color: #fff;
  color: #3a405a;
}

#card-container .card {
  background-color: #fff;
  color: #3a405a;
}

/* Card items Images */
#card-container .card img {
  height: 8rem;
}

/* News Section */
.news-panel {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #fff;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* News Section on hover */
.news-panel:hover {
  cursor: pointer;
}

/* Dashboard */
.dashboard-content {
  background-color: #fff;
  color: #3a405a;
  padding: 20px;
  border-radius: 10px;
  margin: 7% auto;
}

/* Dashboard Search bar */
#search-bar {
  margin: 0 0 2% 0;
}

#search-bar .input-group {
  width: 50%;
}

/* Forms */
.form-content {
  background-color: #fff;
  color: #3a405a;
  padding: 20px;
  border-radius: 10px;
  margin: 7% auto;
  width: 60%;
}

form {
  margin-left: 8%;
}

label {
  font-weight: bold;
  text-align: left;
}

/* Login Form */
.login-content {
  background-color: #fff;
  backdrop-filter: blur(10px);
  color: #3a405a;
  padding: 20px;
  border-radius: 10px;
  margin: 7% auto;
  width: 40%;
}

/* Form Buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* Table Container on forms */
.table-container {
  padding: 0 1%;
  border-radius: 10px;
  border-color: #3a405a;
}

.table-responsive {
  width: 20%;
}

.table {
  background-color: #fff;
  color: #3a405a;
}

.table i {
  color: #3a405a;
}

/* Modal */
.modal {
  opacity: 0.9;
}

.modal-content {
  background-color: #3a405a;
  color: #fff;
}

.modal-header,
.modal-footer {
  background-color: #fff;
  color: #3a405a;
}

.modal-backdrop.show {
  z-index: 1040;
}

.modal.show {
  z-index: 1050;
}

/* Footer */
footer p {
  font-size: x-small;
}

/* Footer Container */
#footer-container {
  padding: 1% 3% 0 0;
}

/* Social Links */
footer i {
  font-size: large;
  transition: ease-in-out 0.3s;
}

.list-inline-item {
  perspective: 1000px;
}

.social-link {
  display: inline-block;
  animation: rotate3d 3s infinite linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

/* Social Links on hover */
.social-link:hover {
  animation-play-state: paused;
}

/* Social Links animation */
@keyframes rotate3d {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

/* Error Page */
#error-message {
  margin-top: 20vh;
}

/* Error Message Content */
#error-message h1 {
  font-size: 3rem;
}

/* Error Message Button */
#error-message .btn {
  background-color: #fff;
  color: #3a405a;
}

/* Error Message Button on hover */
#error-message .btn:hover {
  background-color: #3a405a;
  color: #fff;
}

/*----Media Query----*/

/*---------- Styling for screens with (min-width: 320px) and (max-width: 575px) ----------*/

@media (min-width: 320px) and (max-width: 575px) {

  body {
    overflow-x: hidden;
    font-size: small;
  }

  h4 {
    font-size: 0.8rem;
  }

  p {
    display: none;
  }

  #main-content {
    margin: 15% 0 0 0;
  }

  /* Section */
  #landing-section {
    height: 60vh;
  }

  /* Buttons */
  #landing-section .btn {
    width: 120px;
  }

  /* Landing Section Content */
  #landing-section h1 {
    font-size: 2rem;
  }

  #landing-section h2 {
    font-size: 1.2rem;
  }

  /* login form */
  .login-content {
    width: 95%;
  }

  .login-content h4 {
    font-size: 1.4rem;
    padding: 2% 0;
  }

  /* Forms */
  .form-content {
    width: 90%;
  }

  form.text-center {
    margin: 0;
  }

  .row.mb-3.ms-5 {
    margin-left: 0 !important;
  }

  /* Form buttons */
  .col-auto.me-5 {
    margin: 0 !important;
  }

  .col-sm-2 {
    margin-bottom: 2%;
  }

  .ms-5 {
    margin-left: 0 !important;
  }

  form {
    margin-left: 0;
  }

  /* Dashboard */
  .dashboard-content {
    width: 90%;
  }

  .col-md-6 {
    padding: 0;
  }

  #profile-container {
    margin: 0;
    padding: 3% 2% 0 2%;
    width: 100%;
  }

  .dash-content {
    padding: 10px;
    width: 100%;
    margin: 0;
  }

  .dash-end {
    width: 100%;
    margin: 0;
  }

  .carousel-inner img {
    height: 40vh;
    margin: 0 0 2% 0;
  }

  #section-container {
    margin: 0;
    padding: 0;
  }

  .section_1 {
    width: 98%;
    margin: 1% 0 0 1%;
  }

  .panel_2 {
    width: 98%;
    margin: 0 0 1% 0 !important;
  }

  #search-bar .input-group {
    width: 100%;
  }

  /* Table Container on forms */
  .table-responsive-sm {
    width: 100%;
  }

  .table i {
    margin: 0 !important;
    padding-left: 5px;
  }

  /* Footer */
  #footer-container {
    margin: 0;
  }

  .social-link {
    display: none;
  }
}

/*---------- Styling for screens with (min-width: 768px) and (max-width: 991px)----------*/

@media (min-width: 768px) and (max-width: 991px) {
  #main-content {
    margin: 7% 0 0 0;
  }

  #profile-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dash-content {
    padding: 15px;
  }

  /* Heading */
  h4 {
    font-size: 1.2rem;
  }

  p {
    display: none;
  }

  .section_1 {
    width: 95%;
    padding: 0 7%;
  }

  .panel_2 {
    width: 95%;
  }

  /* Section */
  #landing-section {
    height: 40vh;
  }

  #features p {
    display: none !important;
  }

  #features_2 p {
    display: none !important;
  }

  /* Forms */
  .form-content {
    width: 100%;
  }

  /* Login Form */
  .login-content {
    width: 80%;
  }

  .login-content h4 {
    font-size: 1.4rem;
    padding: 1% 0;
  }

  /* Dashboard */
  #search-bar .input-group {
    width: 100%;
  }

  /* Table Container on forms */
  .table-responsive-sm {
    width: 100%;
  }

  .table i {
    margin: 0 !important;
    padding-left: 5px;
  }

  /* Footer */
  #footer-container {
    margin: 0;
  }

  .social-link {
    display: none;
  }
}

/*---------- Styling for screens with (min-width: 992px) and (max-width: 1024px)----------*/

@media (min-width: 992px) and (max-width: 1024px) {
  #main-content {
    margin: 5% 0 0 0;
  }

  #profile-container {
    width: 100%;
  }

  .section_1 {
    width: 95%;
    padding: 0 15%;
  }

  .panel_2 {
    width: 95%;
  }

  .dash-content {
    padding: 15px;
  }

  /* Heading */
  h4 {
    font-size: 1.2rem;
  }

  /* Section */
  #landing-section {
    height: 40vh;
  }

  /* Login Form */
  .login-content {
    width: 80%;
  }

  .login-content h4 {
    font-size: 1.4rem;
    padding: 1% 0;
  }

  /* Dashboard */
  #search-bar .input-group {
    width: 100%;
  }

  /* Table Container on forms */
  .table-responsive-sm {
    width: 100%;
  }

  .table i {
    margin: 0 !important;
    padding-left: 5px;
  }

  /* Forms */
  .form-content {
    width: 70%;
  }
}

/*---------- Styling for screens with (min-width: 1025px) and (max-width: 1199px)----------*/

@media (min-width: 1025px) and (max-width: 1199px) {
  #main-content {
    margin: 4% 0 0 0;
  }

  #profile-container {
    width: 100%;
  }

  .section_1 {
    width: 53%;
  }

  .panel_2 {
    width: 42%;
  }

  /* Forms */
  .form-content {
    width: 70%;
  }

  /* Login Form */
  .login-content {
    width: 60%;
  }

  /* Footer */
  #footer-container {
    margin: 0;
  }
}

/*---------- Styling for screens with (min-width: 1200px) and (max-width: 1920px)----------*/

@media (min-width: 1200px) and (max-width: 1499px) {
  #main-content {
    margin: 5% 0 0 0;
  }

  #profile-container {
    width: 100%;
  }

  .section_1 {
    width: 53%;
  }

  .panel_2 {
    width: 42%;
  }

  /* Typography */
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* Section */
  #landing-section {
    height: 40vh;
  }

  /* Footer */
  #footer-container {
    margin: 0;
  }
}

/*---------- Styling for screens with (min-width: 1200px) and (max-width: 1920px)----------*/

@media (min-width: 1500px) and (max-width: 1920px) {
  #main-content {
    margin: 3% 0 0 0;
  }

  #profile-container {
    width: 100%;
  }

  .section_1 {
    width: 50%;
  }

  .panel_2 {
    width: 45%;
  }

  /* Typography */
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* Section */
  #landing-section {
    padding-top: 1%;
    height: 40vh;
  }

  /* Footer */
  #footer-container {
    margin: 0;
  }
}