@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/8.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background-color: #fff;
  color: #3a405a;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

#main-content {
  margin: 3% 0 0 0;
  padding: 0;
  flex: 1 0 auto;
  transition: margin-left 0.3s;
}

/* Navbar */
.navbar {
  background-color: #fff;
  color: #3a405a;
  border-color: #3a405a;
}

/* Navbar links */
.navbar a {
  color: #3a405a;
}

.navbar a:hover {
  color: #3a405a;
}

/* Offcanvas */
#offcanvasScrolling {
  background-color: #fff;
  color: #3a405a;
  width: auto;
}

.btn-close-white {
  filter: none !important;
  /* Remove any existing filters */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%233a405a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586l6.293-6.293a1 1 0 0 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg>');
  /* Replace with your own SVG or adjust this one */
  width: 16px;
  /* Adjust size as needed */
  height: 16px;
}

/* Offcanvas links */
.offcanvas-body ul li {
  margin-bottom: 10%;
}

.offcanvas-body ul li strong {
  margin-bottom: 0;
  padding-bottom: 0;
}

.offcanvas-body ul li a {
  padding: 4px;
  margin-bottom: 10px;
}

#active-nav.active {
  background-color: #3a405a;
  color: #fff;
}

.nav-link {
  transition: background-color 0.3s ease;
  /* Smooth transition for hover and active changes */
}

.nav-link.active:hover {
  background-color: #fff;
  color: #3a405a;
}

.offcanvas-body ul li a:hover {
  background-color: #3a405a;
  color: #fff;
}

/* Buttons */
.btn {
  background-color: #3a405a;
  color: #fff;
  border-color: #fff;
  font-size: 1rem;
}

.btn:hover {
  background-color: #fff;
  color: #3a405a;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.carousel img {
  height: 60vh;
  margin-top: 0.5%;
}

#section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2% 0;
}

.section_1 {
  background-color: #fff;
  backdrop-filter: blur(10px);
  opacity: 0.9;
  border-radius: 10px;
  margin: 1%;
  width: 40%;
  height: 480px;
  color: #3a405a;
}

.panel_2 {
  background-color: #fff;
  backdrop-filter: blur(10px);
  opacity: 0.9;
  border-radius: 10px;
  margin: 1%;
  color: #3a405a;
  height: 480px;
}


margin: 10px 0;
border-color: #3a405a;
/* Space above and below each card */
}

#card-container .card {
background-color: #fff;
color: #3a405a;
}

#card-container .card img {
height: 8rem;
}

.card-body-bottom .btn {
background-color: #3a405a;
color: #fff;
margin-bottom: 4px;
}

.card-body-bottom .btn:hover {
background-color: #fff;
color: #3a405a;
}

.news-panel {
height: 400px;
/* Set a fixed height */
overflow-y: auto;
/* Enable vertical scrolling */
border: 1px solid #ccc;
/* Add a border */
margin: 20px;
/* Add some margin around the panel */
padding: 15px;
/* Padding inside the panel */
background-color: #f9f9f9;
/* Light background for the panel */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.news-panel:hover {
background-color: #f0f0f0;
cursor: pointer;
}

/* Dashboard */
.dashboard-content {
  background-color: #fff;
  color: #3a405a;
  padding: 20px;
  border-radius: 10px;
  margin: 7% auto;
}

#search-bar {
  margin: 0 0 2% 0;
}

#search-bar .input-group {
  width: 50%;
}

.card {
  background-color: #3a405a;
  color: #fff;
  border-radius: 10px;
  width: auto;
}

.card-body {
  background-color: #fff;
  color: #3a405a;
}







.form-content {
  background-color: #3a405a;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

form {
  margin-left: 8%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

label {
  font-weight: bold;
  text-align: left;
}

.table-container {
  padding: 0 1%;
}

.table {
  background-color: #fff;
  color: #1a1a1a;
}

.table i {
  color: #3a405a;
}

.modal-header {
  background-color: #fff;
  color: #3a405a;
  font-weight: bold;
}

.modal-content {
  background-color: #3a405a;
}

.modal-footer {
  background-color: #fff;
}

footer p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-small;
}
