body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #3a405a;
  color: #fff;
}

/* Navbar links */
.navbar a {
  color: #fff;
}

/* Offcanvas */
#offcanvasScrolling {
  background-color: #3a405a;
  color: #fff;
  width: auto;
}

/* Offcanvas links */
.offcanvas-body ul li {
  margin-bottom: 10%;
}

.offcanvas-body ul li strong {
  margin-bottom: 0;
  padding-bottom: 0;
}

.offcanvas-body ul li a {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
}

/* Buttons */
.btn {
  background-color: #3a405a;
  color: #fff;
  border-color: #fff;
  font-size: 1rem;
}

.btn:hover {
  background-color: #fff;
  color: #3a405a;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
