body {
  background-image: url("../assets/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background-color: #fff;
  color: #1a1a1a;
  overflow-x: hidden;
}

main {
  margin-top: 7%;
}

/* Navbar */
.navbar {
  background-color: #3a405a;
  color: #fff;
}

/* Navbar links */
.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #fff;
}

/* Offcanvas */
#offcanvasScrolling {
  background-color: #3a405a;
  color: #fff;
  width: auto;
}

.btn-close-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
}

/* Offcanvas links */
.offcanvas-body ul li {
  margin-bottom: 10%;
}

.offcanvas-body ul li strong {
  margin-bottom: 0;
  padding-bottom: 0;
}

.offcanvas-body ul li a {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
}

/* Buttons */
.btn {
  background-color: #3a405a;
  color: #fff;
  border-color: #fff;
  font-size: 1rem;
}

.btn:hover {
  background-color: #fff;
  color: #3a405a;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.dashboard-content {
  background-color: #3a405a;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-left: 1%;
}

.form-content {
  background-color: #3a405a;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

form {
  margin-left: 8%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

label {
  font-weight: bold;
  text-align: left;
}

.table-container {
  padding: 0 1%;
}

.table {
  background-color: #fff;
  color: #1a1a1a;
}

.table i {
  color: #3a405a;
}

.modal-header {
  background-color: #fff;
  color: #3a405a;
  font-weight: bold;
}

.modal-content {
  background-color: #3a405a;
}

.modal-footer {
  background-color: #fff;
}

footer p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-small;
}
