{% extends "base.html" %}
{% block content %}

<div class="container dashboard-content mt-4">
    <h3 class="mb-4 text-center">Active Directory Groups <i class="fa-solid fa-table-cells-row-lock ms-2"></i></h3>

    <!-- Button to add a new security group -->
    <div class="text-end mb-3">
        <a href="{{ url_for('add_ad_group') }}" class="btn btn-success">Add AD Group<i class="fa-solid fa-shield-halved ms-2"></i></a>
    </div>

    <!-- Display of Security Groups -->
    <div class="row">
        {% if ad_groups %}
          {% for group in ad_groups %}
              <div class="col-md-4 mb-4">
                  <div class="card h-100">
                      <div class="card-header">
                          <h4 class="text-center">{{ group.name }}</h4> 
                      </div>
                      <div class="card-body">
                          <p class="card-text">{{ group.description | truncate(140) }}</p>
                      </div>
                      <div class="card-footer text-center">
                        <a href="{{ url_for('edit_ad_group', group_id=group.id)}}" class="btn btn-primary">Edit<i class="fa-solid fa-pen-to-square ms-2"></i></a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ group.id }}">
                            Delete<i class="fa-solid fa-trash ms-2"></i>
                        </button>
                      </div>
                  </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="deleteModal-{{ group.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ group.id }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel-{{ group.id }}">Confirm Deletion</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete the group "{{ group.name }}"?
                    </div>
                    <div class="modal-footer">
                      <a href="{{ url_for('delete_ad_group', group_id=group.id)}}" class="btn btn-danger">Yes</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor %}
        {% else %}
          <p class="text-center">No groups found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
