{% extends "base.html" %}
{% block content %}

<div class="form-content container">
    <h3>Create New Product <i class="fa-regular fa-folder-open ms-2"></i></h3>
    <br>
    <form action="{{ url_for('add_product')}}" method="post">
        <div class="row mb-3">
            <label for="product_name" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="product_name" name="product_name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="product_description" class="col-sm-2 col-form-label">Product Description</label>
            <div class="col-sm-4">
                <textarea id="product_description" name="product_description" class="form-control" rows="4" required></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <label for="product_type" class="col-sm-2 col-form-label">Product Type</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="product_type" name="product_type" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="product_pricing" class="col-sm-2 col-form-label">Product Pricing</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="product_pricing" name="product_pricing" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="product_code" class="col-sm-2 col-form-label">Product Code</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="product_code" name="product_code" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
