{% extends "base.html" %} {% block content %}

<div class="form-content container">
  <h3 class="text-center ms-5">
    Add News <i class="fa-regular fa-folder-open ms-2"></i>
  </h3>
  <br />
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message" data-category="{{ category }}" data-message="{{ message }}"></div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  <form
    class="justify-content-center"
    action="{{ url_for('add_news')}}"
    method="post"
  >
    <div class="row mb-3 ms-5">
      <label for="description" class="col-sm-2 col-form-label">Headline</label>
      <div class="col-sm-7">
        <textarea
          id="headline"
          name="headline"
          class="form-control"
          rows="4"
          placeholder="Please enter headline"
          required
        ></textarea>
      </div>
    </div>

    <div class="row mb-3 ms-5">
      <label for="description" class="col-sm-2 col-form-label"
        >Description</label
      >
      <div class="col-sm-7">
        <textarea
          id="description"
          name="description"
          class="form-control"
          rows="4"
          placeholder="Brief description of the headline"
          required
        ></textarea>
      </div>
    </div>

    <div class="row button-container">
      <div class="col-auto me-5">
        <button type="submit" class="btn btn-primary">
          Add<i class="fa-solid fa-folder-plus ms-2"></i>
        </button>
      </div>
      <div class="col-auto me-5">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="history.back();"
        >
          Cancel<i class="fa-solid fa-ban ms-2"></i>
        </button>
        <!-- Changed type to button for cancel -->
      </div>
    </div>
  </form>
  {% if success %}
    <script>
        alert('News Item created successfully! Redirecting to News Dashboard...');
        window.location.href = "{{ url_for('news') }}";
    </script>
    {% endif %}
</div>

{% endblock %}
