{% extends "base.html" %}
{% block content %}

<div class="form-content container">
    <h3 class="text-center">Create New Product <i class="fa-regular fa-folder-open ms-2"></i></h3>
    <br>
    <form class="text-center" action="{{ url_for('add_product')}}" method="post">
        <div class="row mb-3 ms-5">
            <label for="name" class="col-sm-3 col-form-label">Product Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>

        <div class="row mb-3 ms-5">
            <label for="description" class="col-sm-3 col-form-label">Product Description</label>
            <div class="col-sm-7">
                <textarea id="description" name="description" class="form-control" rows="4" required></textarea>
            </div>
        </div>

        <div class="row mb-3 ms-5">
            <label for="type" class="col-sm-3 col-form-label">Product Type</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="type" name="type" required>
            </div>
        </div>


        <div class="row button-container">
            <div class="col-auto me-5">
                <button type="submit" class="btn btn-primary">Create<i class="fa-solid fa-folder-plus"></i></button>
            </div>
            <div class="col-auto me-5">
                <button type="button" class="btn btn-secondary">Cancel<i class="fa-solid fa-ban ms-2"></i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
