{% extends "base.html" %} {% block content %}

<!-- Account Creation Form -->
<div class="form-content container">
  <h3 class="text-center">
    Create Account <i class="fa-regular fa-folder-open ms-2"></i>
  </h3>
  <br>
  <form class="text-center" action="{{ url_for('add_account')}}" method="post">
    <!-- Ensure the form action is correct -->

    <!-- First Name -->
    <div class="row mb-3 ms-5">
      <label for="first_name" class="col-sm-2 col-md-3 col-form-label">First Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="first_name" name="first_name" required>
      </div>
    </div>

    <!-- Last Name -->
    <div class="row mb-3 ms-5">
      <label for="last_name" class="col-sm-2 col-md-3 col-form-label">Last Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="last_name" name="last_name" required>
      </div>
    </div>

    <!-- Email -->
    <div class="row mb-3 ms-5">
      <label for="email" class="col-sm-2 col-md-3 col-form-label">Email</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
    </div>

    <!-- Phone Number -->
    <div class="row mb-3 ms-5">
      <label for="phone_number" class="col-sm-2 col-md-3 col-form-label">Phone</label>
      <div class="col-sm-7">
        <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
      </div>
    </div>

    <!-- Date of Birth -->
    <div class="row mb-3 ms-5">
      <label for="date_of_birth" class="col-sm-2 col-md-3 col-form-label">Date of Birth</label>
      <div class="col-sm-3 col-md-4">
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
      </div>
    </div>

    <!-- Account Type using products -->
    <div class="row mb-3 ms-5">
      <label for="account_type" class="col-sm-2 col-md-3 col-form-label">Account Type</label>
      <div class="col-sm-3 col-md-4">
        <select class="form-select form-control" name="account_type" id="account_type" onchange="updateProductID()"
          required>
          <option value="">--select--</option>
          {% for product in products %}
          <option value="{{ product.id }}">{{ product.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Product ID -->
    <div class="row mb-3 ms-5">
      <label for="product_id" class="col-sm-2 col-md-3 col-form-label">Product ID</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="product_id" name="product_id" required readonly>
      </div>
    </div>

    <!-- Currency -->
    <div class="row mb-3 ms-5">
      <label for="balance" class="col-sm-2 col-md-3 col-form-label">Opening Balance</label>
      <div class="col-sm-2 col-md-3">
        <select class="form-select" id="currency" name="currency">
          <option value="">--select--</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="GBP">GBP</option>
        </select>
      </div>

      <!-- Balance -->
      <div class="col-sm-3 col-md-4">
        <input type="number" class="form-control" id="balance" name="balance" placeholder="Amount" step="0.01" min="0">
      </div>
    </div>


    <!-- Terms and Conditions -->
    <div class="row mb-3 ms-5">
      <input type="checkbox" class="form-check-input col-sm-2 col-md-3" id="terms" required>
      <div>
        <label class="form-check-label class=" col-sm-3" for="terms">I confirm that all details have been
          verified.</label>
      </div>
    </div>

    <!-- Button Container -->
    <div class="row button-container">
      <div class="col-auto me-5">
        <!-- Create Button -->
        <button type="submit" class="btn btn-primary">
          <i class="fa-solid fa-folder-plus me-2"></i>Create
        </button>
      </div>

      <!-- Cancel Button -->
      <div class="col-auto me-5">
        <button type="button" class="btn btn-secondary" onclick="history.back();">
          <i class="fa-solid fa-ban me-2"></i>Cancel
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}