{% extends "base.html" %} {% block content %}

<!-- Account Creation Form -->
<div class="form-content container">
  <h3 class="text-center">
    Create New User <i class="fa-regular fa-folder-open ms-2"></i>
  </h3>
  <br>
  <form class="text-center" action="{{ url_for('add_user')}}" method="post"> <!-- Ensure the form action is correct -->

    <!-- First Name -->
    <div class="row mb-3 ms-5">
      <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="first_name" name="first_name" required>
      </div>
    </div>

    <!-- Last Name -->
    <div class="row mb-3 ms-5">
      <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="last_name" name="last_name" required>
      </div>
    </div>

    <!-- Username -->
    <div class="row mb-3 ms-5">
      <label for="username" class="col-sm-2 col-form-label" minlength="5" maxlength="15">Username</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="user_name" name="username" required>
      </div>
    </div>

    <!-- Email -->
    <div class="row mb-3 ms-5">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
    </div>

    <!-- Password -->
    <div class="row mb-3 ms-5">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-7">
        <input type="password" class="form-control validate" id="password" name="password" minlength="8" maxlength="15"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="row mb-3 ms-5">
      <label for="role" class="col-sm-2 col-form-label">Role</label>
      <div class="col-sm-4">
        <select class="form-select form-control" name="role" id="role" required>
          <option value="">--select--</option>
          {% for group in groups %}
          <option value="{{ group.name }}">{{ group.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- User Buttons -->
    <div class="row button-container">
      <div class="col-auto me-5">
        <button type="submit" class="btn btn-primary">
          <i class="fa-solid fa-folder-plus me-2"></i>Create
        </button>
      </div>
      <div class="col-auto me-5">
        <button type="button" class="btn btn-secondary" onclick="history.back();">
          <i class="fa-solid fa-ban me-2"></i>Cancel
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}