<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='assets/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='assets/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='assets/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/favicon/site.webmanifest')}}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css')}}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css')}}" type="text/css">

    <title>AccountSphere</title>
</head>

<body>
    <header>

        <!-- Check if the user is not on the login, home or register page -->
        {% if not (request.path == url_for('login') or request.path == url_for('home') or request.path ==
        url_for('register') or error_page) %}

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand fixed-top">
            <div class="container-fluid">
                <!-- Toggle Button for Offcanvas Sidebar and Brand Logo -->
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary me-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <i class="fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{{url_for('profile')}}">
                        <img class="logo" src="{{ url_for('static', filename='assets/images/image_8.jpg')}}" alt="logo">
                    </a>
                </div>

                <!-- Right-aligned Nav Links -->
                <div class="d-flex justify-content-end flex-grow-1 pe-3">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-none d-sm-block" href="{{url_for('password_reset')}}"
                                title="Reset Password"><i class="fa-solid fa-gear"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-none d-sm-block" href="{{ url_for('logout') }}" title="Log Out"><i
                                    class="fa-solid fa-power-off"></i></a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">

            <!-- Offcanvas Header -->
            <div class="offcanvas-header">
                <a class="navbar-brand" id="offcanvasWithBothOptionsLabel" href="{{url_for('profile')}}">
                    <img class="logo" src="{{ url_for('static', filename='assets/images/image_8.jpg')}}" alt="logo">
                </a>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <br>

            <!-- Offcanvas Body -->
            <div class="offcanvas-body" id="offcanvas">
                <ul class="navbar-nav">

                    <!-- Navigation Links -->
                    <li class="nav-item">
                        <strong><i class="fa-solid fa-calendar me-2"></i>Dashboard</strong>
                        <hr>
                        <a id="active-nav-1"
                            class="nav-link {{ 'active' if request.path == url_for('account') else '' }}"
                            href="{{ url_for('account') }}"><i class="fa-solid fa-file-invoice me-2"></i>Account
                            Management</a>
                        <a id="active-nav-2"
                            class="nav-link {{ 'active' if request.path == url_for('ad_group') else '' }}"
                            href="{{ url_for('ad_group') }}"><i class="fa-regular fa-folder-open me-2"></i>AD Groups</a>
                        <a id="active-nav-3" class="nav-link {{ 'active' if request.path == url_for('news') else '' }}"
                            href="{{ url_for('news') }}"><i class="fa-solid fa-newspaper me-2"></i>News Board</a>
                        <a id="active-nav-4"
                            class="nav-link {{ 'active' if request.path == url_for('product') else '' }}"
                            href="{{ url_for('product') }}"><i class="fa-brands fa-product-hunt me-2"></i>Product
                            Management</a>
                        <a id="active-nav-5" class="nav-link {{ 'active' if request.path == url_for('user') else '' }}"
                            href="{{ url_for('user') }}"><i class="fa-solid fa-users me-2"></i>User Management</a>
                    </li>

                    <li class="nav-item">
                        <strong><i class="fa-solid fa-user me-2"></i>Profile</strong>
                        <hr>
                        <a class="nav-link" href="{{ url_for('password_reset') }}"><i class="fa-solid fa-gear me-2"></i>
                            Password Reset</a>
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa-solid fa-power-off me-2"></i>
                            Logout</a>
                    </li>
                </ul>
            </div>
            <div id="offcanvas-footer">
                <div class="container-fluid justify-content-start ms-2">
                    <p>Copyright &copy; 2024 AccountSphere</p>
                </div>
            </div>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                <div class="flash-message" data-category="{{ category }}" data-message="{{ message }}"></div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>

    </header>

    <!-- Main Content -->
    <main class="container-fluid" id="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="row navbar navbar-expand-lg" id="footer-container">
            <div class="col-sm-6 d-none d-sm-block container-fluid justify-content-start ms-2">
                <p>Copyright &copy; 2024 AccountSphere</p>
            </div>

            <!-- Social Media Links -->
            <div class="col-sm-6 container-fluid justify-content-end">
                <ul class="list-inline social-media">
                    <li class="list-inline-item">
                        <a class="social-link" target="_blank" href="https://github.com/GOkwori">
                            <i class="fa-brands fa-square-github"></i>
                            <span class="sr-only">Github</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link" target="_blank"
                            href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BJ8xDlJkoQuWwzvWs1wUALg%3D%3D">
                            <i class="fa-brands fa-linkedin"></i>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link" target="_blank" href="https://twitter.com/Georgeminto">
                            <i class="fa-brands fa-square-twitter"></i>
                            <span class="sr-only">twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='assets/js/script.js')}}"></script>

</body>

</html>