{% extends "base.html" %} {% block content %}

<div class="form-content container">
  <h3 class="text-center">
    Update Product <i class="fa-regular fa-folder-open ms-2"></i>
  </h3>
  <br />
  <form class="text-center" action="{{ url_for('edit_product', product_id=product.id) }}" method="post">
    <div class="row mb-3 ms-5">
      <label for="name" class="col-sm-3 col-form-label">Product Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required />
      </div>
    </div>

    <div class="row mb-3 ms-5">
      <label for="description" class="col-sm-3 col-form-label">Product Description</label>
      <div class="col-sm-7">
        <textarea id="description" name="description" class="form-control" rows="4" value="{{ product.description }}"
          required> {{ product.description}}    </textarea>
      </div>
    </div>

    <div class="row mb-3 ms-5">
      <label for="type" class="col-sm-3 col-form-label">Product Type</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="type" name="type" value="{{ product.type }}" required />
      </div>
    </div>

    <div class="row button-container">
      <div class="col-auto me-5">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-pen-to-square me-2"></i>Update</button>
      </div>
      <div class="col-auto me-5">
        <button type="button" class="btn btn-secondary" onclick="history.back();"><i
          class="fa-solid fa-ban me-2"></i>Cancel</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
