{% extends "base.html" %} {% block content %}

<div class="form-content container">
  <h3 class="text-center ms-5">
    Update AD-Security Group <i class="fa-regular fa-folder-open ms-2"></i>
  </h3>
  <br />
  <form class="justify-content-center" action="{{ url_for('edit_ad_group', group_id=group.id)}}" method="post">
    <div class="row mb-3 ms-5">
      <label for="name" class="col-sm-2 col-form-label">Group Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="name" name="name" value="{{ group.name }}" required />
      </div>
    </div>

    <div class="row mb-3 ms-5">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-7">
        <textarea id="description" name="description" class="form-control validate" rows="4"
          placeholder="Brief description of the group" value="{{ group.description }}" required> {{ group.description }}</textarea>
      </div>
    </div>

    <div class="row mb-3 ms-5">
      <label for="group_type" class="col-sm-2 col-form-label">Group Type</label>
      <div class="col-sm-7">
        <select class="form-select validate" id="group_type" name="group_type" value="{{ group.group_type}}" required>
          <option value="" disabled>--Select--</option>
          <option value="Security">Security</option>
          <option value="Distribution">Distribution</option>
        </select>
      </div>
    </div>
    <div class="row button-container">
      <div class="col-auto me-5">
        <button type="submit" class="btn btn-primary">Update<i class="fa-solid fa-pen-to-square ms-2"></i></button>
      </div>
      <div class="col-auto me-5">
        <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel<i
            class="fa-solid fa-ban ms-2"></i></button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
