{% extends "base.html" %}
{% block content %}

<div class="form-content container">
    <h3 class="text-center">Update User <i class="fa-regular fa-folder-open ms-2"></i></h3>
    <br>
    <form class="text-center" action="{{ url_for('edit_user', user_id=user.id)}}" method="post">
        <div class="row mb-3 ms-5">
            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name}}" required>
            </div>
        </div>

        <div class="row mb-3 ms-5">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name}}" required>
            </div>
        </div>

        <div class="row mb-3 ms-5">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="user_name" name="username" value="{{ user.username}}" required>
            </div>
        </div>

        <div class="row mb-3 ms-5">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email}}" required>
            </div>
        </div>

        <div class="row mb-3 ms-5">
            <label for="role" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-4">
              <select class="form-select form-control" name="role" id="role" required>
                <option value="" disabled>--select--</option>
                {% for group in groups %}
                    {% if group.name == user.role %}
                        <option value="{{ group.name }}" selected>{{ group.name }}</option>
                    {% else %}
                        <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>            
            </div>
        </div>
        <div class="row button-container">
            <div class="col-auto me-5">
                <button type="submit" class="btn btn-primary">Update<i class="fa-solid fa-pen-to-square ms-2"></i></button>
            </div>
            <div class="col-auto me-5">
                <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel<i
                    class="fa-solid fa-ban ms-2"></i></button>
              </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
